@charset "utf-8";

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "GangwonEdu_OTFBoldA";
  /* 드래그방지 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 16px;
}
body {
  color: #3C486B;
  font-size: 16px;
  line-height: 1; /* x1 */
  letter-spacing: 0;
  word-break: keep-all; /* 단어를 지켜서 줄내림 */
  /* overflow-y: hidden;
  overflow-x: hidden; */
  opacity: 1;
  transition-duration: 3s;
  transition-property: opacity;
}
body.fade {
  opacity: 0;
}
.displayNone {
  display: none !important;
}
.wrap {
  position: relative;
  display: block;
  width: 499.18px;
  height: 1080px;
  border: 2px solid #3C486B;
  background: repeating-linear-gradient(90deg, rgba(244, 80, 80, 0.1), rgba(244, 80, 80, 0.1) 1px, #ffffff00 0, #ffffff00 10px), repeating-linear-gradient(rgba(244, 80, 80, 0.1), rgba(244, 80, 80, 0.1) 1px, #ffffff00 0, #ffffff00 10px);
}
.inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 30px auto;
}
.box {
    position: relative;
    display: block;
    width: 420px ;
    border: 2px solid #3C486B;
}
.header {
  position: relative;
  display: flex;
}
.appName {
  position: relative;
  display: block;
  font-size: 48px;
}
/* header */
.header input {
  border: none;
  border-bottom: 2px solid #3c486b;
  background-color: #ffffff00;
}
.header input:focus{
    outline: none;
}
.header button {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff00;
  background: url(/src/asset/Search.png) no-repeat center;
  background-size: contain;
}
/* header 끝 */
/* currentBox */
.currentInfo{
    border: 2px solid #3C486B;
}
/* currentBox 끝 */
/* recommendedBox */
/* recommendedBox 끝 */
/* hourlyBox */
/* hourlyBox 끝 */
/* weeklyBox */
/* weeklyBox 끝 */