@charset "utf-8";

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "GangwonEdu_OTFBoldA";
  /* 드래그방지 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-size: 16px;
}
body {
  color: #3c486b;
  font-size: 16px;
  line-height: 1; /* x1 */
  letter-spacing: 0;
  word-break: keep-all; /* 단어를 지켜서 줄내림 */
  /* overflow-y: hidden;
  overflow-x: hidden; */
  opacity: 1;
  transition-duration: 3s;
  transition-property: opacity;
}
body.fade {
  opacity: 0;
}
.displayNone {
  display: none !important;
}
.wrap {
  position: relative;
  display: block;
  width: 499.18px;
  height: 100vh;
  margin: 0 auto;
  border: 2px solid #3c486b;
  background: repeating-linear-gradient(
      90deg,
      rgba(244, 80, 80, 0.1),
      rgba(244, 80, 80, 0.1) 1px,
      #ffffff00 0,
      #ffffff00 10px
    ),
    repeating-linear-gradient(
      rgba(244, 80, 80, 0.1),
      rgba(244, 80, 80, 0.1) 1px,
      #ffffff00 0,
      #ffffff00 10px
    );
}
.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 990px;
  margin: 30px auto 60px;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  padding: 20px 0;
  border: 2px solid #3c486b;
  gap: 30px;
}
.center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 420px;
}
.appName {
  position: relative;
  display: block;
  font-size: 40px;
}
/* header */
.header form {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 200px;
  height: 38px;
}
.header input {
  position: relative;
  display: block;
  width: 150px;
  border: none;
  border-bottom: 2px solid #3c486b;
  background-color: #ffffff00;
  font-size: 25px;
  color: #3c486b;
}
.header input:focus {
  outline: none;
}
.header button {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff00;
  background: url(/src/asset/Search.png) no-repeat center;
  background-size: contain;
}
/* header 끝 */
/* currentBox */
.currentBox {
}
.currentInfo {
}
.city {
  font-size: 24px;
}
.tempBox {
  position: relative;
  display: flex;
  background-size: cover !important;
  text-shadow: 2px 2px 10px #ffffff;
  font-size: 100px;
}
.currentTemp {
  position: relative;
  display: block;
  /* font-size: 100px; */
  z-index: 1;
}
.currentTempUnit {
  position: relative;
  display: block;
  font-size: 0.5em;
  padding: 15px 0;
  z-index: 1;
}
.unit {
  position: relative;
  display: inline-block;
  font-size: 0.7em;
  padding-top: 2px;
  vertical-align: top;
}
.gridBox {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  justify-content: space-between;
  width: 70%;
  height: 80px;
  font-size: 20px;
}

/* currentBox 끝 */
/* recommendedBox */
.recommendedBox {
}
.cate p {
  font-size: 20px;
}
.clothesBox p {
  font-size: 18px;
}
/* recommendedBox 끝 */
/* hourlyBox */
.hourlyTemp {
}
/* hourlyBox 끝 */
/* weeklyBox */
.flexBox {
  position: relative;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.weeklyTempItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weeklyTempItem p {
  font-size: 18px;
}
/* weeklyBox 끝 */
.aa {
  position: relative;
  display: block;
  width: 90%;
  font-size: 18px;
  text-align: center;
}
.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide img {
  display: block;
  
  object-fit: cover;
}
.hourlyIcon {
  width: 50px;
  height: 50px;
  background-size: contain !important;
  object-fit: cover;
}
.popBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.water {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.dateBox{
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    text-decoration: overline;
}
